
header {
    text-align: center;
    color: #FFFFFF; 
    padding: 20px 0; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFFFFF; 
    padding: 10px 0; 
    text-align: center;
}

