/* Estilo para o cabeçalho (header) */
header {
    text-align: center;
    background-color: #4CAF50; /* Verde */
    color: #FFFFFF; /* Branco */
    padding: 20px 0; /* Espaçamento interno */
}

/* Estilo para o rodapé (footer) */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50; /* Verde */
    color: #FFFFFF; /* Branco */
    padding: 10px 0; /* Espaçamento interno */
    text-align: center;
}

